* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
}

:root {
    --text-color: #fff;
    --color: #caa43cfa;
    --bg-color: #2d2d2e;
    --first: #fff;
    --second: #000;
    --mob-color: #363636;
    --box-bg: #333;
    --clr-bg: #3e3e3e;
    --place-clr: #afafaf;
}

body {
    background: var(--color);
}

.formularStyle {
    width: 35%;
    background-color: rgba(18, 70, 138, 0.507);
    padding: 35px;
    border-radius: 30px;
    backdrop-filter: blur(50px);
}

.colorBtn {
    background-color: rgb(233, 183, 21);
}